<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/
4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Create Ticket</title>
</head>

<body>

    <h3 style="margin-top: 3%;margin-left: 30%; margin-right: 30%; ">Create New Ticket</h3>
    <form action="/api/create-ticket" method="POST" style="margin-top: 3%; margin-left: 30%; margin-right: 30%;">

        <div class="form-group">
            <label for="inputName">Ticket id</label>
            <input type="number" class="form-control" name="ticketid" placeholder="ticket">
        </div>

        <div class="form-group">
            <label for="inputName">Your Name</label>
            <input type="text" class="form-control" name="devname" placeholder="Jitendra Kumar">
        </div>

        <div class="form-group">
            <label for="inputTitle">Issue Title</label>
            <input type="text" class="form-control" name="inputTitle" placeholder="Issue Tracker">
        </div>

        <div class="form-group">
            <label for="inputDescription">Description</label>
            <input type="text" class="form-control" name="inputDescription"
                placeholder="It is used to track the issues assigned to particular developer.">
        </div>

        <button type="submit" class="btn btn-primary">Create Issue</button>
    </form>

</body>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>